body {
  text-align: center;
}

h1 {
  font-family: cursive;
  font-size: auto;
}

td {
  vertical-align: bottom;
}

.DanganTable {
  margin: auto;
  width: 80%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 10px;
}

.block {
  width : 500px;
}

.characterimage {
  height: 500px;
  width: auto;
  transition: 0.2s;
  padding: 10px;
}


img:hover {
    transform: scale(1.1);
}